/* Background for the page */
.pageBackground {
    background-color: #FFF8E1; /* Light cream color */
    min-height: 100vh;
  }
  
  /* AppBar (navbar) styles */
  .appBar {
    background-color: #FFB6C1 !important; /* Light pink color */
  }
  
  /* Links and icons in the AppBar */
  .navLinks {
    display: flex;
  }
  
  .logo {
    color: #FFFFFF; /* White text for the logo */
    flex-grow: 1;
  }
  
  /* Paper container for the form */
  .formContainer {
    padding: 32px;
    background-color: #FFF8E1; /* Light cream color for the form background */
  }
  
  /* Typography styles for headings */
  .heading {
    color: #000000; /* Black for main text */
    margin-bottom: 16px;
  }
  
  /* Form fields */
  .textField {
    background-color: #FFFFFF; /* White background for text fields */
    margin-bottom: 16px;
    margin-top: 20px !important;
  }
  
  /* Submit button */
  .submitButton {
    background-color: #FFB6C1 !important; /* Light pink color */
    margin-top: 20px !important;
    
  }
  
  /* Login link text */
  .loginText {
    color: #333333; /* Darker text */
    text-align: center;
    margin-top: 16px;
  }

  
  