/* Background for the entire page */
.pageBackground {
    background-color: #FFF8E1; /* Light cream color */
    min-height: 100vh;
  }
  
  /* AppBar (navbar) styles */
  .appBar {
    background-color: #ffb6c2 !important; /* Ensure it overrides MUI styles */
  }
  
  /* Toolbar styling */
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  /* Typography (Crispy Creame logo) styles */
  .logo {
    color: #000000; /* Black color for the text */
    flex-grow: 1;
  }
  
  /* Navbar links container */
  .navLinks {
    display: flex;
  }
  
  /* Content container */
  .pageContent {
    padding: 24px; /* Equivalent to 3 spacing units */
    color: #33333362; /* Darker text color */
  }
  